* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 700px;
	width: 1200px;
	display: flex;
	padding: 10px;
	border: 2px solid orange;
	gap: 10px;
}

.container > div {
	width: 33.33%;
	height: 100%;
	padding: 10px;
	border: 2px solid orange;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	height: 100%;
	overflow-y: auto;
}

h3 {
	display: block;
	border-bottom: 1px solid black;
	text-align: center;
	padding-bottom: 10px;
}

.nameInput,
.priceInput {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 18px;
}
.addItem {
	width: 80%;
	height: 40px;
	font-size: 18px;
	background-color: bisque;
	cursor: pointer;
}
.item {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid black;
	background-color: antiquewhite;
}
.oldPrice {
	text-decoration: line-through;
	color: gray;
}
.newPrice {
	color: green;
}
